doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', type='text/css' src='css/style.css')
    script(type='text/javascript', src='js/index.js')
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
